<div>
  <div>
    <strong>Challenge ID:</strong> <%= challenge.id %>
  </div>

  <div>
    <strong>Game-Type:</strong> <%= challenge.game_type.name %>
  </div>

  <div>
    <strong>Created at:</strong> <%= challenge.created_at %>
  </div>

  <div>
    <strong>Last move</strong> by <%= challenge.last_player.username %> at <%= challenge.updated_at %>
  </div>
</div>