
<div class="players" data-current-player="<%= @current_player_id %>">
	
  <div class="player-1 current-player"> 
    <div class="profile-pic"><img src="<%= asset_path User.find(@current_player_id).image_url %>" alt=""></div>
    <div><%= User.find(@current_player_id).username %></div>
  </div>

	<div class="player-2">
    <div class="profile-pic"><img src="<%= asset_path User.find(@last_player_id).image_url %>" alt=""></div>
    <div><%= User.find(@last_player_id).username %></div>
  </div>
</div>

<div class="big-board <%= @challenge.outcome %>" data-url="<%= challenge_path %>" id="<%= @challenge.last_move_index %>">
  <% for i in 0..8 do  %>
  	<div id="<%= i %>" class="big square inactive <%=(@challenge.getBigSquareValue(i + 81))%>">
  		<% for j in 0..8 do  %>
  			<div id="<%= i*9 + j %>" class="small square U"><%= @challenge.getValue(i*9 + j) %></div>
  		<% end %>
  	</div>
  <% end %>
</div>