<!DOCTYPE html>
<html>
<title>TicTacFoot</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>


<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "#{ENV['FAYE_SERVER']}.js" %>
<%= csrf_meta_tags %>
<body>

  <% if !current_user %>
    <%= link_to  'Login', login_path %>
  <% else %>
    Hello, <%= link_to current_user.username, user_path(current_user) %>!  <%= link_to 'Logout', logout_path %>
  <% end %>

  <h1>Tic Tac Foot</h1>
  
  <div id="navbar">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All users (admin only)', users_path %></li>
      <li><%= link_to 'All challenges (admin only)', challenges_path %></li>
      <li><%= link_to 'New challenge', new_challenge_path %></li>
    </ul>
  </div>
  
  <hr>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class:name %>
  <% end %>

<%= yield %>

</body>
</html>
