<!DOCTYPE html>
<html>
<title>GamesApp</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "#{ENV['FAYE_SERVER']}.js" %>
<%= csrf_meta_tags %>
<body>

  <h1>Tic Tac Foot</h1>
  
  <div id="navbar">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All users', users_path %></li>
      <li><%= link_to 'New user', new_user_path %></li>
    </ul>
  </div>
  
  <hr>

<%= yield %>

</body>
</html>
